<mat-vertical-stepper>
  <mat-step label="Track Source">
    <p>Track source selection</p>
    <div>
      <button mat-raised-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step label="Select Track">
    <p>Track selection</p>
    <div>
      <button mat-raised-button matStepperPrevious>Previous</button>
      <button mat-raised-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step label="Track Information">
    <div class="field-row">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput readonly>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Album</mat-label>
        <input matInput readonly>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Artist</mat-label>
        <input matInput readonly>
      </mat-form-field>
    </div>
  </mat-step>
</mat-vertical-stepper>
